:root {
  --prmeri-text-color: rgba(33, 33, 33, 1);
  --hover-focus-button: rgba(33, 150, 243, 1);
  --logo-text-title: rgba(0, 0, 0, 1);
  --grey-text-color: rgba(117, 117, 117, 1);
  --button-hero-text: rgba(255, 255, 255, 1);
  --background-color-hero: rgba(47, 48, 58, 1);
  --box-shadow-color: rgba(0, 0, 0, 0.15);
  --background-team-color: rgba(245, 244, 250, 1);
  --phone-email-color: rgb(184 184 184);
}
body {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  color: var(--prmeri-text-color);
  background-color: var(--button-hero-text);
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: var(--prmeri-text-color);
}
button {
  border: 0px;
}
.blue {
  color: var(--hover-focus-button);
}
.logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  color: var(--logo-text-title);
}
.header__link:hover,
.header__link:focus {
  color: var(--hover-focus-button);
}
.header__link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
.text {
  color: var(--grey-text-color);
}
.hero {
  background-color: var(--background-color-hero);
}
.hero__title {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  color: var(--button-hero-text);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 0%;
}
.hero__button {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  color: var(--button-hero-text);
  background: var(--hover-focus-button);
  box-shadow: 0px 4px 4px var(--box-shadow-color);
  border-radius: 4px;
  width: 200px;
  height: 50px;
}
.advantages__hidden {
  display: none;
}
.advantages__subtitle {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: var(--prmeri-text-color);
}
.advantages__text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--grey-text-color);
}
.services__title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em
  color: var(var(--prmeri-text-color)) ;
  }
.services__icon {
  width: 370px;
  height: 294px;
}
.team {
  background-color:var(--background-team-color) ;
}
.team__title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  color:var(--prmeri-text-color) ;
}
.team__icon {
  width: 270px;
  height: 260px;
}
.team__subtitle {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: var(--prmeri-text-color);
}
.team__text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: var(--grey-text-color);
}
.footer {
  background-color: var(--background-color-hero);
}
.footer__text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: var(--button-hero-text);
}

.footer__mail, .footer__phone {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: var(--phone-email-color);
}
/* PORTFOLIO */

.portfolio__button {
  color: var(--prmeri-text-color);
  background-color: var(--phone-email-color);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  border-radius: 3px;
  
}
.portfolio__button:hover,
.portfolio__button:focus {
  background-color: var(--hover-focus-button);
  color: var(--button-hero-text);
}
.portfolio__icon {
  width: 370px;
  height: 294px;
}
.portfolio__subtitle {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  color: var(--prmeri-text-color);
  }
.portfolio__text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: var(--grey-text-color);
  }
